@tailwind base;

@font-face {
  font-family: Arvo;
  font-weight: 700;
  src: url(./fonts/Arvo-Bold.ttf) format("ttf");
}
@font-face {
  font-family: Roboto Mono;
  font-weight: 700;
  src: url(./fonts/RobotoMono-Bold.ttf) format("ttf");
}
@font-face {
  font-family: Roboto Mono;
  font-weight: 400;
  src: url(./fonts/RobotoMono-Regular.ttf) format("ttf");
}

@tailwind components;

.gradient-fade {
  background: linear-gradient(to top, #000000, rgba(0, 0, 0, 0));
}

.list li:before {
  content: "\2014";
  @apply absolute -ml-4 text-blue-500;
}

.glide-slide {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  touch-action: pan-y;
  user-select: none;
}

@tailwind utilities;
